:root {
  --background-img-content-color: rgba(0, 0, 0, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  background-color: rgb(20, 20, 20);
}
main {
  width: 100vh;
  background-color: rgb(242, 249, 255);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
}

.copy-container {
    padding: 2rem;
}
.copy-container > h2 {
    width: min(50vw, 45ch);
    margin-top: 12vh;
    font-size: 1.5rem;
}
.copy-container > h3 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}
.form-section {
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(5, 5, 5, 0.2);
    height: 100%;
    padding: 1rem 2rem;
}

.logo-container {
  width: 27vw;
  height: 100%;
  background-image: url("../img/shai-pal-LJzggyttyMQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: auto;
  background-attachment: fixed;
  background-size: contain;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-text {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--background-img-content-color);
  color: white;
}

.logo-container > footer {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  align-self: center;
  margin-bottom: 2rem;
  color: white;
  font-size: 0.8rem;
}
.logo-container > footer > p > a {
  color: white;
}

label, input {
    width: 150px;
}
.form-field {
    display: flex;
    flex-direction: column;
}
.form-row {
    display: flex;
    gap: 4ch;
}